Objective: The goal of this assignment is to assess the intern's 
    ability to design and implement an ETL (Extract, Transform, Load) pipeline using Python, SQL, 
    and other data engineering technologies. The candidate will be responsible for extracting data from a source, 
    performing transformations on it, and loading it into a target destination.

In [1]:
## Import the necessary Library
import pandas as pd
import numpy as np

## Data Source:

## ETL Pipeline:  Updated_sales_data

In [2]:
# Loading the dataset
df = pd.read_csv("Updated_sales_data.csv") 
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [3]:
# Checking for Nan values in data frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30394 entries, 0 to 30393
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          30307 non-null  object
 1   Product           30307 non-null  object
 2   Quantity Ordered  30307 non-null  object
 3   Price Each        30307 non-null  object
 4   Order Date        30307 non-null  object
 5   Purchase Address  30307 non-null  object
dtypes: object(6)
memory usage: 1.4+ MB

In [4]:
# Count the number of Null records in dataset
df.isnull().sum()

Order ID            87
Product             87
Quantity Ordered    87
Price Each          87
Order Date          87
Purchase Address    87
dtype: int64

In [5]:
# Removing NaN
df_1 = df.dropna()
df_1.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [6]:
# Check Nan Values
df_1.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [7]:
# Know if the column contains string or not
def is_string(x):
    return isinstance(x, str)

is_string_series = df_1['Quantity Ordered'].apply(is_string)
if is_string_series.any():
    print('The column contains string data')
else:
    print('The column does not contain string data')

The column contains string data

In [8]:
# Convert the 'object' dtype column to 'int' dtype

df_1['Quantity Ordered'] = pd.to_numeric(df_1['Quantity Ordered'], errors='coerce', downcast='integer')

df_1['Price Each'] = pd.to_numeric(df_1['Price Each'], errors='coerce', downcast='integer')

# Convert object to datetime

df_1["Order Date"] = pd.to_datetime(df_1["Order Date"],errors='coerce')

C:\Users\ABHISH~1\AppData\Local\Temp/ipykernel_19604/976843459.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Quantity Ordered'] = pd.to_numeric(df_1['Quantity Ordered'], errors='coerce', downcast='integer')
C:\Users\ABHISH~1\AppData\Local\Temp/ipykernel_19604/976843459.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Price Each'] = pd.to_numeric(df_1['Price Each'], errors='coerce', downcast='integer')
C:\Users\ABHISH~1\AppData\Local\Temp/ipykernel_19604/976843459.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1["Order Date"] = pd.to_datetime(df_1["Order Date"],errors='coerce')

In [9]:
# check Datatype of column
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30307 entries, 0 to 30393
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          30307 non-null  object
 1   Product           30307 non-null  object
 2   Quantity Ordered  30246 non-null  float64
 3   Price Each        30246 non-null  float64
 4   Order Date        30246 non-null  datetime64[ns]
 5   Purchase Address  30307 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 1.6+ MB

In [10]:
## Transform

## Calculate the total sales amount for each order (quantity * price) and add a new column `total_sales`.

df_1['Total_sales'] = df_1['Price Each'] * df_1['Quantity Ordered']
df_1.head()

C:\Users\ABHISH~1\AppData\Local\Temp/ipykernel_19604/2448425111.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Total_sales'] = df_1['Price Each'] * df_1['Quantity Ordered']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Total_sales
0,176558,USB-C Charging Cable,2.0,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",23.90
2,176559,Bose SoundSport Headphones,1.0,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",99.99
3,176560,Google Phone,1.0,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",600.00
4,176560,Wired Headphones,1.0,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",11.99
5,176561,Wired Headphones,1.0,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",11.99

In [11]:
## Calculate the year and month of each order from the `order_date` column and add new columns `order_year` and `order_month`.
# extract the day, month, and year components

##df_1['Month'] = df_1['Order Date'].dt.month           ## dt.month_name(locale='English') form month name
df_1['Month'] = df_1['Order Date'].dt.to_period('M')
df_1['Year'] = df_1['Order Date'].dt.year

df_1.head()

C:\Users\ABHISH~1\AppData\Local\Temp/ipykernel_19604/38467666.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Month'] = df_1['Order Date'].dt.to_period('M')
C:\Users\ABHISH~1\AppData\Local\Temp/ipykernel_19604/38467666.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Year'] = df_1['Order Date'].dt.year

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Total_sales,Month,Year
0,176558,USB-C Charging Cable,2.0,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",23.90,2019-04,2019.0
2,176559,Bose SoundSport Headphones,1.0,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",99.99,2019-04,2019.0
3,176560,Google Phone,1.0,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",600.00,2019-04,2019.0
4,176560,Wired Headphones,1.0,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",11.99,2019-04,2019.0
5,176561,Wired Headphones,1.0,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",11.99,2019-04,2019.0

In [12]:
# Order table to csv
df_1.to_csv("C:\Drive D\Intership\Punt Partners Data Engg\Order_Table.csv", index = False)

In [13]:
# Aggregate the data to calculate the total sales amount for each product in each month and store it in a separate DataFrame.
 # https://www.geeksforgeeks.org/pandas-groupby-and-sum/
df_2 = df_1.groupby(['Product',"Month"],as_index=False)["Total_sales"].sum()
df_2.head()

                  Product    Month  Total_sales
0            20in Monitor  2019-04     43226.07
1            20in Monitor  2019-05       219.98
2            20in Monitor  2019-08     28707.39
3            20in Monitor  2019-09       109.99
4  27in 4K Gaming Monitor  2019-04    220344.35

In [14]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Product      59 non-null     object
 1   Month        59 non-null     period[M]
 2   Total_sales  59 non-null     float64
dtypes: float64(1), object(1), period[M](1)
memory usage: 1.5+ KB

In [15]:
# Product_by_sale to CSV

df_2.to_csv("C:\Drive D\Intership\Punt Partners Data Engg\Product_by_sale.csv" ,index=False)